@charset "IBM866";
@font-face { font-family: 'fonts-icons'; src: url("../fonts/fonts-icons.eot?96347608"); src: url("../fonts/fonts-icons.eot?96347608#iefix") format("embedded-opentype"), url("../fonts/fonts-icons.woff?96347608") format("woff"), url("../fonts/fonts-icons.ttf?96347608") format("truetype"), url("../fonts/fonts-icons.svg?96347608#fonts-icons") format("svg"); font-weight: normal; font-style: normal; }

[class^="fi-"], [class*=" fi-"] { display: inline-block; }

[class^="fi-"]:before, [class*=" fi-"]:before { font-family: "fonts-icons"; font-style: normal; font-weight: normal; display: inline-block; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.fi-mail:before { content: '\e800'; }

/* '' */
.fi-user:before { content: '\e801'; }

/* '' */
.fi-cog:before { content: '\e802'; }

/* '' */
.fi-phone:before { content: '\e803'; }

/* '' */
.fi-cancel:before { content: '\e804'; }

/* '' */
.fi-help:before { content: '\e805'; }

/* '' */
.fi-info:before { content: '\e806'; }

/* '' */
.fi-trash:before { content: '\e807'; }

/* '' */
.fi-wrench:before { content: '\e808'; }

/* '' */
.fi-search:before { content: '\e809'; }

/* '' */
.fi-facebook:before { content: '\e80a'; }

/* '' */
.fi-github-circled:before { content: '\e80b'; }

/* '' */
.fi-gplus:before { content: '\e80c'; }

/* '' */
.fi-linkedin:before { content: '\e80d'; }

/* '' */
.fi-skype:before { content: '\e80e'; }

/* '' */
.fi-twitter:before { content: '\e80f'; }

/* '' */
.fi-vkontakte:before { content: '\e810'; }

/* '' */
.fi-pencil:before { content: '\e811'; }

/* '' */
.fi-spinner:before { content: '\e812'; }

/* '' */
.fi-bell-alt:before { content: '\e813'; }

/* '' */
.fi-bell:before { content: '\e815'; }

/* '' */
.fi-download:before { content: '\e816'; }

/* '' */
.fi-print:before { content: '\e817'; }

/* '' */
