.h2{
	text-decoration: underline;
}

.cols{
	overflow: hidden;
}

.col{
	float: left;
	width: 50%;
	padding: 0 5px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.lists-none{
	ul,ol{
		list-style: none;
		li:before{
			display: none;
		}
		li{
			text-indent: 0;
		}
	}
}



.tr-box {
	width: 0;
	height: 0;
	border: 70px solid;
	border-color: #0082d1 #ffd100 #0082d1 #ffd100;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.tr-box_1:hover {
	-webkit-transform: translateX(50px) translateY(-20px);
	transform: translateX(50px) translateY(-20px);
}











// new

.slide_bg {
	background-size: cover;
	h2 {
		color: #FFF;
	}
}

.bg-circles {
	background-image: url(../pictures/circles.jpg) !important;
}