.intro {
  color: white;
  padding-top: 230px;
}

.intro-logo {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 200px;
}

.slide .intro-title {
  text-align: center;
  color: inherit;
  font-size: 98px;
}

.intro-author {
  text-align: center;
}

.intro-date {
  position: absolute;
  bottom: 0;
  right: 50px;
}

.shout small {
  font-size: 50px;
  display: block;
}

mark.tag {
  color: var(--color-key);
}

.iframe {
    width: calc(100% + 196px);
    margin-left: -90px;
    margin-right: -106px;
    height: 460px;
    border: none;
}
