body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  color: #575757;
}
a {
  color: #4597d7;
}
a:hover,
a:active {
  text-decoration: none;
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
.pseudo-link {
  color: #4597d7;
  border-bottom: 1px dotted #4597d7;
  cursor: pointer;
}
.pseudo-link:hover {
  border-bottom-color: transparent;
}
.header {
  background: #575757;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 11;
}
.logo {
  background: url("../img/logo@2x.png") no-repeat 10px center;
  background-size: 18px 18px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  padding-left: 34px;
  line-height: 40px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select-store {
  display: inline-block;
}
.select-store__text {
  font-size: 12px;
  color: #fff;
  border-bottom-color: #fff;
  position: relative;
  display: inline-block;
  margin-left: 25px;
}
.select-store__text:after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  top: 6px;
  right: -14px;
}
.select-store__list {
  list-style: none;
  padding-left: 18px;
  font-size: 15px;
  margin: 0;
  height: 340px;
  overflow: auto;
  min-width: 255px;
}
.select-store__list li {
  margin: 15px 0;
}
.select-store__list a {
  text-decoration: none;
}
.select-store__list a:hover {
  color: #575757;
}
.sidebar {
  position: fixed;
  width: 108px;
  top: 40px;
  left: 0;
  background: #575757;
  z-index: 10;
  height: 100%;
}
.icon-product,
.icon-performance,
.icon-settings {
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 10px;
  background-size: 42px 42px;
}
.menu {
  border-top: 1px solid #fff;
}
.menu__link {
  text-decoration: none;
  position: relative;
  border-bottom: 1px solid #fff;
  color: #fff;
  line-height: 1.3;
  display: block;
}
.menu__link:hover .icon-product,
.menu__link:focus .icon-product {
  background-image: url("../img/icon-product-h.png");
}
.menu__link:hover .icon-performance,
.menu__link:focus .icon-performance {
  background-image: url("../img/icon-performance-h.png");
}
.menu__link:hover .icon-settings,
.menu__link:focus .icon-settings {
  background-image: url("../img/icon-settings-h.png");
}
.menu__link-hold {
  height: 108px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 108px;
}
.menu__link-text {
  display: block;
}
.menu .active {
  background: #7fc461;
}
.menu .active:after,
.menu .active:hover:after,
.menu .active:focus:after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-left-color: #7fc461;
  right: -10px;
  top: 50%;
  margin-top: -6px;
}
.icon-product,
.menu .active .icon-product {
  background-image: url("../img/icon-product.png");
}
.icon-performance,
.menu .active .icon-performance {
  background-image: url("../img/icon-performance.png");
}
.icon-settings,
.menu .active .icon-settings {
  background-image: url("../img/icon-settings.png");
}
.main {
  padding: 76px 40px 0 146px;
  min-width: 436px;
}
.title {
  color: #7fc461;
  font-size: 24px;
  margin: 0 0 30px;
  font-weight: normal;
}
.sub-title {
  font-size: 20px;
  line-height: 16px;
  font-weight: normal;
  margin: 0 0 30px;
}
.cols {
  display: table;
  width: 100%;
}
.col {
  display: table-cell;
  vertical-align: top;
}
.col_2 {
  width: 50%;
}
.row {
  margin-bottom: 17px;
}
.row:after {
  clear: both;
  content: "";
  display: table;
}
.form-control {
  height: 42px;
  padding: 0 14px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  font-size: 16px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-control:focus {
  border-color: #4597d7;
  outline: 0;
}
.form-group {
  display: inline-block;
  vertical-align: top;
}
.label {
  font-size: 16px;
  color: #979797;
}
.label_radio {
  position: relative;
  padding: 0 30px 0 26px;
}
.label_radio input {
  display: none;
}
.label_radio label:before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 3px;
  border-radius: 50%;
  border: 1px solid #979797;
  box-shadow: 0 3px 5px #cfcfcf inset, 0 0 0 3px #fff inset;
  cursor: pointer;
}
.label_radio input:checked + label:before {
  background: #4597d7;
}
.label_radio input:checked + label {
  color: #4597d7;
}
.btn {
  height: 42px;
  background: #4597d7;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  border: 0;
  width: 114px;
  text-align: center;
}
.btn:hover,
.btn:focus {
  opacity: 0.9;
}
.btn:focus {
  outline: 0;
}
.btn_cancel {
  background: #575757;
}
.row_search {
  padding-right: 124px;
  position: relative;
}
.row_search .form-control {
  display: block;
  width: 100%;
}
.row_search .btn {
  position: absolute;
  right: 0;
  top: 0;
}
.date-form {
  width: 436px;
  margin: 0 0 0 auto;
}
.date-form .label {
  float: left;
  line-height: 42px;
}
.date-form .label_from {
  width: 40px;
}
.date-form .label_to {
  width: 16px;
}
.date-form .form-control {
  width: 113px;
  font-size: 12px;
  padding-left: 35px;
  background: transparent;
}
.date-form .form-control:focus + .icon-calendar {
  background-image: url("../img/icon-calendar-h.png");
}
.date-form .form-group {
  margin: 0 10px;
  float: left;
  position: relative;
  background: #fff;
}
.date-form__links {
  padding: 0 0 0 50px;
}
.date-form__link {
  margin-right: 25px;
}
.date-form__link_reset {
  float: right;
  color: #f1665d;
  border-bottom-color: #f1665d;
}
.icon-calendar {
  width: 16px;
  height: 18px;
  background-image: url("../img/icon-calendar.png");
  position: absolute;
  top: 12px;
  left: 10px;
  cursor: pointer;
  background-size: 16px 18px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  display: none;
}
.ui-datepicker {
  width: 277px;
  padding: 9px;
  border: 1px solid #cfcfcf;
  display: none;
  margin-top: 9px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  margin-left: -82px;
}
.ui-datepicker:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  height: 8px;
  width: 8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff;
  border: 1px solid #cfcfcf;
  border-width: 1px 0 0 1px;
}
.ui-datepicker-header {
  position: relative;
  padding: 10px 0;
  text-align: center;
}
.ui-datepicker-month,
.ui-datepicker-year {
  height: 34px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
.ui-datepicker-month {
  width: 158px;
  margin-right: 9px;
}
.ui-datepicker-year {
  width: 110px;
}
.ui-datepicker table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}
.ui-datepicker th,
.ui-datepicker td {
  text-align: center;
  color: $grey-darker;
  border: 0;
}
.ui-datepicker th {
  font-weight: normal;
  cursor: default;
  background: #eee;
  height: 50px;
}
.ui-datepicker td {
  width: 32px;
  padding: 6px 0;
}
.ui-datepicker td a {
  display: block;
  text-decoration: none;
  color: #4597d7;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin: 0 auto;
}
.ui-datepicker td a:hover,
.ui-datepicker td a:active {
  background: #4597d7;
  color: #fff;
}
.ui-datepicker .ui-state-disabled span {
  cursor: default;
}
.products-wrap {
  margin-top: 43px;
}
.products {
  border-collapse: collapse;
  width: 100%;
}
.products th,
.products td {
  font-size: 16px;
  line-height: 1.2857;
}
.products th {
  padding: 6px 10px 7px;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid #575757;
}
.products .products__right-text {
  text-align: right;
}
.products td {
  border: 1px solid #cfcfcf;
  border-width: 0 1px 1px 1px;
  padding: 10px;
}
.products__qty {
  position: relative;
  text-align: right;
}
.products__qty-text.active {
  border-color: transparent;
}
.products__qty-text.active {
  color: #575757;
}
.popup {
  display: none;
  position: absolute;
  z-index: 1;
  border: 1px solid #cfcfcf;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.popup:before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff;
  border: 1px solid #cfcfcf;
}
.popup__title {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 20px;
}
.popup_qty {
  text-align: center;
  width: 205px;
  right: 34px;
  top: -11px;
  padding: 8px 0 0;
}
.popup_qty:before {
  right: -5px;
  top: 16px;
  border-width: 1px 1px 0 0;
}
.popup_qty .row {
  margin-bottom: 27px;
}
.popup_qty .form-control {
  width: 50px;
  text-align: center;
  height: 32px;
  margin: 0 0 0 10px;
}
.popup_qty .label {
  font-size: 13px;
}
.popup_qty .btn {
  float: left;
}
.popup_qty .btn_cancel {
  margin-right: 1px;
  width: 90px;
}
.popup_store {
  z-index: 11;
  display: block;
  padding: 10px;
  left: 0;
  top: 40px;
  height: 340px;
}
.popup_store:before {
  left: 120px;
  margin-left: -5px;
  top: -5px;
  border-width: 1px 0 0 1px;
}
.pagination-wrap {
  text-align: center;
  padding-top: 97px;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
}
.pagination li {
  display: inline;
}
.pagination li a {
  position: relative;
  color: #4597d7;
  float: left;
  width: 32px;
  margin-left: -1px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #cfcfcf;
}
.pagination li a:hover,
.pagination li a:focus {
  background-color: #eee;
}
.pagination .active a,
.pagination .active a:hover,
.pagination .active a:focus {
  color: #fff;
  cursor: default;
  background-color: #4597d7;
}
.pagination .disabled a,
.pagination .disabled a:hover,
.pagination .disabled a:focus {
  color: $grey;
  cursor: default;
  background-color: #fff;
}
.settings {
  display: inline-block;
}
.settings .btn {
  width: 100%;
}
.settings__label {
  display: block;
  padding-bottom: 30px;
  font-size: 14px;
  white-space: nowrap;
}
.settings__label .form-control {
  max-width: 95px;
  margin-right: 6px;
  text-align: center;
  vertical-align: middle;
}
.icon-clock {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-image: url("../img/clock.png");
  vertical-align: middle;
  margin: 0px 6px 0px 4px;
  background-size: 28px 28px;
}
.cache-table {
  width: auto;
  margin-bottom: 45px;
  font-size: 14px;
}
.cache-table td,
.cache-table th {
  padding: 14px 10px 14px 0;
}
.cache-table th {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.cache-table .cache-table__row_top th {
  border-bottom: 1px solid #cfcfcf;
  padding: 0 21px 15px 0;
}
.cache-table .cache-table__td_summary {
  padding: 0 0 0 10px;
  vertical-align: bottom;
  width: 130px;
}
.cache-summary {
  padding: 10px;
  font-size: 12px;
  margin: 0 0 0 auto;
  width: 80px;
  height: 80px;
  background: #7fc461;
  color: #fff;
}
.cache-summary span {
  font-size: 24px;
  display: block;
  text-align: center;
  line-height: 2;
  padding-top: 3px;
}
@media (max-width: 1115px) {
  .col_2 {
    width: 100%;
  }
  .date-form {
    margin: 0 0 0 30px;
  }
}
@media (max-width: 980px) {
  .cols {
    display: block;
  }
  .col_2 {
    display: block;
    margin-bottom: 60px;
  }
  .date-form {
    margin: 0;
  }
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .icon-clock {
    background-image: url("../img/clock@2x.png");
  }
  .icon-product,
  .menu .active .icon-product {
    background-image: url("../img/icon-product@2x.png");
  }
  .icon-performance,
  .menu .active .icon-performance {
    background-image: url("../img/icon-performance@2x.png");
  }
  .icon-settings,
  .menu .active .icon-settings {
    background-image: url("../img/icon-settings@2x.png");
  }
  .menu__link:hover .icon-product,
  .menu__link:focus .icon-product {
    background-image: url("../img/icon-product-h@2x.png");
  }
  .menu__link:hover .icon-performance,
  .menu__link:focus .icon-performance {
    background-image: url("../img/icon-performance-h@2x.png");
  }
  .menu__link:hover .icon-settings,
  .menu__link:focus .icon-settings {
    background-image: url("../img/icon-settings-h@2x.png");
  }
  .icon-calendar {
    background-image: url("../img/icon-calendar@2x.png");
  }
  .date-form .form-control:focus + .icon-calendar {
    background-image: url("../img/icon-calendar-h@2x.png");
  }
}
