.h2 {
  text-decoration: underline;
}

.cols {
  overflow: hidden;
}

.lists-none ul, .lists-none ol {
  list-style: none;
}
.lists-none ul li:before, .lists-none ol li:before {
  display: none;
}
.lists-none ul li, .lists-none ol li {
  text-indent: 0;
}

.col {
  float: left;
  width: 50%;
  padding: 0 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.block {
  margin-top: 25px;
  background: #ffea00;
  height: 200px;
  width: 300px;
}

.block_big {
  height: 300px;
  width: 500px;
  position: relative;
}

.border-radius_1 {
  border-radius: 60px;
}
.border-radius_1 span {
  position: absolute;
  font-size: 30px;
}
.border-radius_1 span:nth-child(1) {
  top: 15px;
  left: 45px;
}
.border-radius_1 span:nth-child(2) {
  top: 15px;
  right: 45px;
}
.border-radius_1 span:nth-child(3) {
  bottom: 15px;
  left: 45px;
}
.border-radius_1 span:nth-child(4) {
  bottom: 15px;
  right: 45px;
}

.border-radius_2 {
  border-radius: 50%;
}

.border-radius_3 {
  border-radius: 75px;
}

.border-radius_4 {
  border-radius: 100% 0;
}

.border-radius_5 {
  border-radius: 13% 25% 38% 50%;
}

.box-shadow_1 {
  box-shadow: 10px 10px 30px 0 #ff6600;
}

.box-shadow_2 {
  box-shadow: 10px 10px 30px 0 #ff6600, 10px 10px 30px 0 #ff6600 inset;
}

.box-shadow_3 {
  margin: 120px auto 0;
  box-shadow: 0 0 5px 10px red, 0 0 5px 20px #ffcc00, 0 0 5px 30px yellow, 0 0 5px 40px #00ff33, 0 0 5px 50px cyan, 0 0 5px 60px #3300ff, 0 0 5px 70px magenta;
}

.box-shadow_4,
.box-shadow_5-1,
.box-shadow_5-2 {
  margin: 150px auto 0;
  border-radius: 50%;
}

.box-shadow_4 {
  width: 100px;
  height: 100px;
  box-shadow: 51px 71px 0 #c955f6, -51px 71px 0 #c955f6, 0 -87px 0 #e8b6fb, 80px -26px 0 #d886f9, -80px -26px 0 #d886f9;
}

.box-shadow_5-1 {
  width: 30px;
  height: 30px;
  box-shadow: 41px 61px 0 35px #c955f6, -41px 61px 0 35px #c955f6, 0 -72px 0 35px #e8b6fb, 65px -19px 0 35px #d886f9, -65px -19px 0 35px #d886f9;
}

.box-shadow_5-2 {
  width: 100px;
  height: 100px;
  box-shadow: 41px 61px 0 -35px #c955f6, -41px 61px 0 -35px #c955f6, 0 -72px 0 -35px #e8b6fb, 65px -19px 0 -35px #d886f9, -65px -19px 0 -35px #d886f9;
}

.block-holder {
  width: 100%;
  height: 70%;
  background: #2989d8;
  background: linear-gradient(to bottom, #0000e5 0%, #000066 100%);
  border-radius: 40px;
  position: relative;
}

.box-shadow_6 {
  background: transparent;
}

.box-shadow_7 {
  background: #fff;
}

.box-shadow_6,
.box-shadow_7 {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 150px;
  width: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: none;
  box-shadow: -30px 20px 0 0 #ffff66;
}

.text-shadow {
  font-size: 60px;
  font-style: italic;
}

.text-shadow_1 {
  color: #fff;
  text-shadow: 0 0 30px #000;
}

.text-shadow_2 {
  color: #ff2600;
  text-shadow: 0 0 4px	#ccc, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -18px 18px #f20;
  margin-bottom: -49px;
}

.background-size {
  background: #ccc;
  background-image: url(../pictures/cat.jpg);
  width: 80%;
  height: 165px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.background-size_1 {
  margin: 20px auto 0;
  height: 60%;
  background-position: 0 0;
}

.background-size_2 {
  background-size: 100% auto;
  margin: 20px auto 0;
  height: 60%;
}

.background-size_3 {
  background-size: 100% 100%;
}

.background-size_4 {
  background-size: 200px 150px;
}

.background-size_5 {
  background-size: cover;
}

.background-size_6 {
  background-size: contain;
}

.linear-gradient {
  width: 100%;
  border-radius: 40px;
  height: 200px;
  margin-top: 30px;
}

.linear-gradient_1 {
  background: linear-gradient(#008000, #0000ff);
}

.linear-gradient_2 {
  background-image: linear-gradient(to top right, #ff0000, #ffffff, #0000ff);
}

.linear-gradient_3 {
  background: white;
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0), #99ff00), linear-gradient(to top right, rgba(255, 255, 255, 0), #ff0000);
}

.linear-gradient_4, .linear-gradient_5 {
  background: #026873;
  background-image: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
  background-size: 50px 100%;
}

.linear-gradient_4 {
  background-repeat: no-repeat;
}

.linear-gradient_6 {
  height: 80%;
  background: #026873;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.07) 50%, transparent 50%), linear-gradient(to right, rgba(255, 255, 255, 0.13) 50%, transparent 50%), linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.17) 50%), linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
}

.linear-gradient_7 {
  background: radial-gradient(ellipse at center, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
}

.linear-gradient_8 {
  background: radial-gradient(circle at center, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
}

div.foo {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.letter {
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  margin: 0.2em;
  position: relative;
  color: #00B4F1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
  cursor: default;
}

.letter:before, .letter:after {
  position: absolute;
  content: attr(data-letter);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  top: 0;
  left: 0;
}

.letter, .letter:before, .letter:after {
  transition: all 0.3s ease-in-out;
}

.letter:before {
  color: #fff;
  text-shadow: -1px 0px 1px rgba(255, 255, 255, 0.8), 1px 0px 1px rgba(0, 0, 0, 0.8);
  z-index: 3;
  -webkit-transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}

.letter:after {
  color: rgba(0, 0, 0, 0.11);
  z-index: 2;
  -webkit-transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
  transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
}

.letter:hover:before {
  color: #fafafa;
  -webkit-transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
}

.letter:hover:after {
  -webkit-transform: scale(1.08, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg, 22deg);
  transform: scale(1.08, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg, 22deg);
}

.slide_bg {
  background-size: cover;
}
.slide_bg h2 {
  color: #FFF;
}

.bg-circles {
  background-image: url(../pictures/circles.jpg) !important;
}

.bg-shadow {
  background-image: url(../pictures/shadow.jpg) !important;
}

.bg-bg {
  background-image: url(../pictures/bg.jpg) !important;
}

.bg-main {
  background-image: url(../pictures/matrix-lines.jpg) !important;
}

.bg-radius-ex {
  background-image: url(../pictures/ex-radius.jpg) !important;
}
