.shower {
    --color-key: var(--epam-sharp-blue);

    --epam-blue: #76cdd8;
    --epam-lime-green: #CEDB56;
    --epam-graphite: #222;
    --epam-coral: #D35D47;
    --epam-bright-blue: #008ACE;
    --epam-sharp-blue: #39C2D7;
    --epam-dark-blue: #263852;
    --epam-light-gray: #ccc;
    --epam-dark-gray: #464547;

    font-family: "museo-sans", "source-han-sans-simplified-c", "Source Sans Pro", arial, helvetica, sans-serif
}

.frame {
    padding: 0 0 0;
}

.iframe {
    width: 100%;
    border: none;
}

.max-width {
    max-width: 100%;
}

/* .shout small {
  font-size: 50px;
  display: block;
}

mark.tag {
  color: var(--color-key);
}



pre.columns {
    margin: 0;
}

pre.columns code::before {
    display: none;
}

.monospace {
    font-family: 'Roboto Mono', monospace;
}

.slide mark.important {
    background: var(--color-key);
    color: white;
}

.water {
    background: #141414;
}

.purple {
    background-color: #fdfcfc;
}

.a-center {
    text-align: center;
} */
