.h2 {
  text-decoration: underline;
}

.cols {
  overflow: hidden;
}

.col {
  float: left;
  width: 50%;
  padding: 0 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.lists-none ul, .lists-none ol {
  list-style: none;
}
.lists-none ul li:before, .lists-none ol li:before {
  display: none;
}
.lists-none ul li, .lists-none ol li {
  text-indent: 0;
}

.tr-box {
  width: 0;
  height: 0;
  border: 70px solid;
  border-color: #0082d1 #ffd100 #0082d1 #ffd100;
}

.slide_bg {
  background-size: cover;
}
.slide_bg h2 {
  color: #FFF;
}

.bg-circles {
  background-image: url(../pictures/circles.jpg) !important;
}
