.tr-box {
	width: 0;
	height: 0;
	border: 100px solid;
	border-color: #0082d1 #ffd100 #0082d1 #ffd100;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin-right: 100px;
	display: inline-block;
}

.tr-box_1:hover {
	-webkit-transform: translate(50px, -20px);
	transform: translate(50px, -20px);
}

.tr-box_2:hover {
	-webkit-transform: scale(2);
	transform: scale(2);
}

.tr-box_3:hover {
	-webkit-transform: scale(2,1);
	transform: scale(2,1);
}

.tr-box_4:hover {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.tr-box_5:hover {
	-webkit-transform: skew(35deg);
	transform: skew(35deg);
}

.tr-box_6:hover {
	-webkit-transform: skew(30deg, 20deg);
	transform: skew(30deg, 20deg);
}

.tr-box-hold {
	height: 250px;
	width: 250px;
	position: relative;
	margin-right: 50px;
	display: inline-block;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 250;
	perspective: 50;
	background: rgba(255,255,255,.5);
}
.tr-box-hold .tr-box {
	position: absolute;
	left: 25px;
	top: 25px;
	margin: 0;
}

.tr-box_2-1:hover {
	-webkit-transform: translate3D(50px, -50px, 100px);
	transform: translate3D(50px, -50px, 100px);
}

.tr-box_2-2:hover {
	-webkit-transform: translate3D(50px, -50px, -10px);
	transform: translate3D(50px, -50px, -10px);
}

.tr-box_2-3:hover {
	-webkit-transform: scale3D(2, 1, 0);
	transform: scale3D(2, 1, 0);
}

.tr-box_2-4:hover {
	-webkit-transform: scale3D(-2, 2, -3);
	transform: scale3D(-2, 2, -3);
}

.tr-box_2-5:hover {
	-webkit-transform: rotate3D(-1, 1, 1, 180deg);
	transform: rotate3D(-1, 1, 1, 180deg);
}